.markdown-body-arknights {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  color: #333;
  position: relative;
  background-image: linear-gradient(
      90deg,
      rgba(217, 234, 251, 0.25) 3%,
      transparent 0
    ),
    linear-gradient(360deg, rgba(217, 234, 251, 0.25) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
}
.markdown-body-arknights h1,
.markdown-body-arknights h2,
.markdown-body-arknights h3,
.markdown-body-arknights h4,
.markdown-body-arknights h5,
.markdown-body-arknights h6 {
  line-height: 1.5;
  padding-left: 8px;
  padding-bottom: 0;
  margin-top: 35px;
  margin-bottom: 10px;
  font-weight: 900;
  font-family: serif;
  letter-spacing: 1px;
  color: #000;
}
.markdown-body-arknights h1:hover,
.markdown-body-arknights h2:hover,
.markdown-body-arknights h3:hover,
.markdown-body-arknights h4:hover,
.markdown-body-arknights h5:hover,
.markdown-body-arknights h6:hover {
  background-color: #fff;
}
.markdown-body-arknights h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.markdown-body-arknights h2 {
  font-size: 24px;
  position: relative;
}
.markdown-body-arknights h2::after {
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  position: absolute;
}
.markdown-body-arknights h3 {
  font-size: 18px;
  padding-bottom: 0;
}
.markdown-body-arknights h4 {
  font-size: 16px;
}
.markdown-body-arknights h5 {
  font-size: 15px;
}
.markdown-body-arknights h6 {
  margin-top: 5px;
}
.markdown-body-arknights p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}
.markdown-body-arknights img {
  max-width: 100%;
}
.markdown-body-arknights hr {
  height: 1px;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
  background-size: 4px 1px;
  background-image: linear-gradient(
    to left,
    #37b2ff 0%,
    #37b2ff 25%,
    transparent 50%
  );
}
.markdown-body-arknights code {
  margin: 0 4px;
  font-family: -apple-system, system-ui, Menlo, Monaco, Consolas, "Courier New";
  word-break: break-word;
  overflow-x: auto;
  background-color: #fff7f7;
  color: #f06;
  position: relative;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
}
.markdown-body-arknights pre {
  margin: 15px 8px;
  border: 1px solid rgb(245, 245, 247);
  font-family: -apple-system, system-ui, Menlo, Monaco, Consolas, "Courier New";
  position: relative;
  line-height: 1.75;
}
.markdown-body-arknights pre::before {
  top: -4px;
  left: -4px;
  width: 20px;
  height: 20px;
  content: "";
  border-top: 8px solid #feea1e;
  border-left: 8px solid #feea1e;
  z-index: 10;
  position: absolute;
}
.markdown-body-arknights pre::after {
  right: -4px;
  bottom: -4px;
  width: 20px;
  height: 20px;
  content: "";
  z-index: 10;
  border-right: 8px solid #37b2ff;
  border-bottom: 8px solid #37b2ff;
  position: absolute;
}
.markdown-body-arknights pre > code {
  font-size: 12px;
  padding: 15px 12px;
  overflow-x: auto;
  margin: 0;
  word-break: normal;
  display: block;
  color: #333;
  background-color: #fff;
  background-image: linear-gradient(
    135deg,
    rgba(224, 224, 224, 0.1) 0,
    rgba(224, 224, 224, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(224, 224, 224, 0.1) 50%,
    rgba(224, 224, 224, 0.1) 75%,
    transparent 75%,
    transparent
  ) !important;
  background-size: 10px 10px !important;
  position: unset !important;
}
.markdown-body-arknights a {
  margin: 0 4px;
  text-decoration: none;
  color: #37b2ff;
  transition: 300ms;
  border-bottom: 1px dashed #37b2ff;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}
.markdown-body-arknights a::before {
  bottom: 90%;
  width: 120px;
  max-width: 0px;
  content: "READ MORE +";
  color: #fff;
  background-color: #1fb3ff;
  position: absolute;
  white-space: nowrap;
  transition: 300ms;
  box-sizing: border-box;
  pointer-events: none;
  overflow: hidden;
}
.markdown-body-arknights a:hover::before,
.markdown-body-arknights a:active::before {
  max-width: 120px;
  padding-left: 14px;
}
.markdown-body-arknights table {
  width: 100%;
  max-width: 100%;
  font-size: 12px;
  background-color: #fff;
  overflow: auto;
  border-collapse: collapse;
}
.markdown-body-arknights table tr:hover th,
.markdown-body-arknights table tr:hover td {
  border-bottom: 1px solid #feea1e;
}
.markdown-body-arknights thead {
  text-align: left;
}
.markdown-body-arknights th {
  font-size: 1.2em;
  border-bottom: 1px dashed #eee;
}
.markdown-body-arknights tr:nth-child(2n) {
  background-color: rgba(224, 224, 224, 0.1);
  border-bottom: 1px solid #fff;
}
.markdown-body-arknights th,
.markdown-body-arknights td {
  padding: 12px 7px;
  line-height: 24px;
}
.markdown-body-arknights td {
  min-width: 120px;
  border-bottom: 1px dashed #fff;
}
.markdown-body-arknights blockquote {
  color: #666;
  padding: 12px 23px 2px;
  border: 1px solid #37b2ff;
  background-color: #fff;
  margin: 22px 0;
  position: relative;
}
.markdown-body-arknights blockquote > p {
  margin: 10px 0;
}
.markdown-body-arknights blockquote::after {
  content: "FROM";
  top: 0;
  left: 0;
  width: 40px;
  line-height: 1;
  padding: 2px 0;
  font-size: 12px;
  color: #fff;
  font-weight: lighter;
  position: absolute;
  background-color: #37b2ff;
  text-align: center;
  pointer-events: none;
}
.markdown-body-arknights blockquote::before {
  content: "CITATION";
  top: 0;
  left: 44px;
  line-height: 1;
  padding: 2px 0;
  font-size: 12px;
  color: #37b2ff;
  font-weight: lighter;
  position: absolute;
  pointer-events: none;
}
.markdown-body-arknights ol,
.markdown-body-arknights ul {
  padding-left: 28px;
}
.markdown-body-arknights ol li,
.markdown-body-arknights ul li {
  line-height: 2em;
  margin-bottom: 0;
  list-style: inherit;
}
.markdown-body-arknights ol li .task-list-item,
.markdown-body-arknights ul li .task-list-item {
  list-style: none;
}
.markdown-body-arknights ol li .task-list-item ul,
.markdown-body-arknights ol li .task-list-item ol,
.markdown-body-arknights ul li .task-list-item ul,
.markdown-body-arknights ul li .task-list-item ol {
  margin-top: 0;
}
.markdown-body-arknights ol ul,
.markdown-body-arknights ol ol,
.markdown-body-arknights ul ul,
.markdown-body-arknights ul ol {
  margin-top: 3px;
}
.markdown-body-arknights ol ul li,
.markdown-body-arknights ol ol li,
.markdown-body-arknights ul ul li,
.markdown-body-arknights ul ol li {
  border-bottom: none;
}
.markdown-body-arknights ol li {
  padding-left: 6px;
  list-style: decimal-leading-zero;
}
.markdown-body-arknights .contains-task-list {
  padding-left: 0;
}
.markdown-body-arknights .task-list-item {
  list-style: none;
}
.markdown-body-arknights input[type="checkbox" i]:disabled {
  background-color: #6cf;
}
@media (max-width: 720px) {
  .markdown-body-arknights h1 {
    font-size: 24px;
  }
  .markdown-body-arknights h2 {
    font-size: 20px;
  }
  .markdown-body-arknights h3 {
    font-size: 18px;
  }
}
