@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./theme/juejin.min.css");
@import url("./theme/github.min.css");
@import url("./theme/smartblue.min.css");
@import url("./theme/cyanosis.min.css");
@import url("./theme/channing-cyan.min.css");
@import url("./theme/fancy.min.css");
@import url("./theme/hydrogen.min.css");
@import url("./theme/condensed-night-purple.min.css");
@import url("./theme/greenwillow.min.css");
@import url("./theme/v-green.min.css");
@import url("./theme/vue-pro.min.css");
@import url("./theme/healer-readable.min.css");
@import url("./theme/mk-cute.min.css");
@import url("./theme/jzman.min.css");
@import url("./theme/geek-black.min.css");
@import url("./theme/awesome-green.min.css");
@import url("./theme/qklhk-chocolate.min.css");
@import url("./theme/orange.min.css");
@import url("./theme/scrolls-light.min.css");
@import url("./theme/simplicity-green.min.css");
@import url("./theme/arknights.min.css");
@import url("./theme/vuepress.min.css");
@import url("./theme/Chinese-red.min.css");
@import url("./theme/nico.min.css");
@import url("./theme/devui-blue.min.css");